#properties{
    padding: 75px;
    text-align: center;
}

h2#head{
    color: #d9f1ff;
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;

 
}

form{
    border-radius: 5px;
    background-color: #1357a6;
    padding: 10px;
	text-align: center;
  
  }

fieldset{
    border: 3px solid #1b7ced;
    padding: 20px;
	text-align: center;
}

label{
    color: #d9f1ff;
    font-size: 14pt;
    font-weight: bolder;

}